:root{
    --blue-primary: #1f5ca9;
    --blue-secondary: #00afef;
    --yellow-accent: #FFF200;
    --red-accent: #ED1C24;
    --green-accent: #00A651;
    --text-white: #F8F9FA;
    --text-black: #212529;
    --text-gray: #6C757D;
}