@font-face {
    font-family: 'BeVN';
    src: url('../assets/font/BeVn.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BeVn';
    src: url('../assets/font/BeVN-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'BeVn';
    src: url('../assets/font/BeVN-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'BeVN';
    src: url('../assets/font/BeVN-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/font/Inter.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/font/Inter-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/font/Inter-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/font/Inter-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('../assets/font/Lora-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lora';
    src: url('../assets/font/Lora-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lora';
    src: url('../assets/font/Lora-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lora';
    src: url('../assets/font/Lora-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../assets/font/Merriweather.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../assets/font/Merriweather-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../assets/font/Merriweather-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../assets/font/Merriweather-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../assets/font/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../assets/font/OpenSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair';
    src: url('../assets/font/Playfair.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair';
    src: url('../assets/font/Playfair-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair';
    src: url('../assets/font/Playfair-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair';
    src: url('../assets/font/Playfair-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'K2D';
    src: url('../assets/font/K2D.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'K2D';
    src: url('../assets/font/K2D-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'K2D';
    src: url('../assets/font/K2D-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'K2D';
    src: url('../assets/font/K2D-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ReadexPro';
    src: url('../assets/font/ReadexPro.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ReadexPro';
    src: url('../assets/font/ReadexPro-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}